* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    margin-top: 0%;
}


.alfa1 {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    color: black;
    margin-right: 19px;
    margin-left: 19px;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
}

.alfa1:hover {
    border-bottom: 3px solid black;
    padding-bottom: 19px;
}
.alfa2 {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    color: black;
    padding-right: 19px;
    padding-left: 19px;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
}
li {
    display: inline-block;
}

.barrauno {
    padding-top: 15px;
    float: left;
}
.barradue{
    float: right;
    padding-top: 15px;
}
.bottone1 {
    background-color: #0061FF;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
}
.bottone1:hover {
    background-color: cornflowerblue;
}
/******************* header ************************/
.lavoro {
    background-color: #B4D0E7;
    width: 100%;
    height: 715px;
    padding-top: 130px;
}
.margin1 {
    width: 80%;
    margin: auto;
}
h1 {
    font-family: 'Open Sans',sans-serif;
    font-size: 68px;
    padding-bottom: 40px;
}
.sottolavoro {
    float: left;
    width: 35%;
    font-family: 'Open Sans',sans-serif;
}
.immagineiniziomain {
    float: left;
    width: 65%;
}
.img1 {
    width: 750px;
}
.bottone2 {
    background-color: #0061FF;
    color: white;
    width: 200px;
    height: 30px;
    border: none;
}
.bottone2:hover {
    background-color: cornflowerblue;
}
.bottone2:hover {
    background-color: cornflowerblue;
}
.para1 {
    font-size: 14px;
    padding-bottom: 25px;
}
.para2 {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 33px;
}
.span3 {
    border: none;
    background-color: #B4D0E7;
}
.span3:active {
    scroll-behavior: auto;
}
.img19 {
    width: 35px;
}
/********************** /fine main 1 *********************/
.margin2 {
    width: 70%;
    margin: auto;
}
.titolo1 {
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 60px;
}
.pianobusinnes {
    margin-top: 188px;
}
.bottone3 {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    border: 5px solid #0061FF;
    vertical-align: middle;
}
.bottone4 {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #EBEBEC;
    vertical-align: middle;
}
.alfa2 {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    color: black;
    padding-right: 19px;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
}

.section3 {
    padding-bottom: 35px;
}
.tabellauno {
    width: 28%;
    float: left;
    height: 950px;
    background-color: white;
    border: 1px solid #EBEBEC;
}
.tabelladue {
    width: 28%;
    float: left;
    margin-left: 8%;
    margin-right: 8%;
    height: 950px;
    background-color: white;
    border: 1px solid #EBEBEC;
}
.tabellatre {
    width: 28%;
    float: left;
    height: 950px;
    background-color: white;
    border: 1px solid #EBEBEC;
}
.para3 {
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    padding-top: 10px;
}
.riga1 {
    border: 0; border-top: 1px solid #EBEBEC;
    margin: 0.5em 0; padding: 0; 
}
.titolo3 {
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    padding-top: 20px;
    font-size: 21px;
}
.para4 {
    font-family: 'Open Sans',sans-serif;
    padding-top: 18px;
}
.para5 {
    color: #979a9c;
    padding-top: 10px;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
.para6 {
    font-family: 'Open Sans',sans-serif;
    padding-top: 40px;
    font-size: 12px;
}
.para7 {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    padding: 1.3rem 0;
}
.para8 {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 45px;
}
.para9 {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    padding-top: 25px;
    padding-bottom: 15px;
}
.alfa3 {
    color: #116BFF;
}
.riga2 {
    border: 0; border-top: 1px solid #EBEBEC;
    margin: 0.5em 0; 
    width: 20%;
}
.titolo4 {
    font-family: 'Open Sans',sans-serif;
    padding-top: 20px;
}
ul .lista1 {
    padding-left: 2rem;
    background-image: url(./img/check-solid.svg);
    background-position: 0 0;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    list-style: none;
}
.lista1 {
      margin: 20px 0;
      font-size: 11px;
      font-family: 'Open Sans',sans-serif;
}
.img15 {
    width: 10px;
}
.img16 {
    width: 10px;
}
.img17 {
    width: 10px;
}
li {
    vertical-align: middle;
}
.para10 {
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
.span1 {
    color: #116BFF;
}

.team {
    width: 100%;
    height: 200px;
    border: 1px solid #EBEBEC;
    font-family: 'Open Sans',sans-serif;
    margin-top: 50px;
    margin-bottom: 160px;
    
}
.grafo1 {
    padding: 10px 0;
}
.riga3 {
    border: 0; border-top: 1px solid #EBEBEC;
    margin: 0em 0;
}
.partesopra {
    text-align: center;
}
.partesinistra {
    float: left;
    width: 70%;
}
.partedestra {
    float: left;
    width: 30%;
}
.titolo3-1 {
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    padding-top: 20px;
    font-size: 21px;
    padding-left: 20px;
}
.titolo4-1 {
    font-family: 'Open Sans',sans-serif;
    margin-left: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    
}
.grafo2 {
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    padding-left: 20px;
}
.bottone5 {
    background-color: #0061FF;
    color: white;
    width: 278px;
    height: 30px;
    border: none;
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
}
.bottone5:hover {
    background-color: cornflowerblue;
}
/*************** /fine main 2 ***************/
.ragazzi {
    width: 50%;
    float: left;
}
.contatto {
    width: 50%;
    float: left;
}
.img2 {
    width: 504px;
}
.titolo3-2 {
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    padding-top: 30px;
    font-size: 27px;
    padding-left: 50px;
}
.grafo3 {
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    padding-left: 50px;
    padding-top: 30px;
    line-height: 28px;
}
.bottone6 {
    background-color: white;
    color: black;
    width: 155px;
    height: 30px;
    border: 1px solid black;
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    margin-left: 50px;
}
.bottone6:hover {
    background-color: rgb(228, 222, 222);
}
.partner {
    margin-bottom: 200px;
}
/************** /fine main 3 *************/
.titolo1-1 {
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 60px;
}
.primacolonna {
    width: 28%;
    float: left;
}
.secondacolonna {
    width: 28%;
    float: left;
    margin-left: 7%;
    margin-right: 7%;
}
.terzacolonna {
    width: 28%;
    float: left;
}
.img3 {
    width: 283px;
}
.titolo3-3 {
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    padding-top: 10px;
    font-size: 20px;
    
}
.grafo4 {
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    padding-top: 30px;
    padding-bottom: 60px;
}
.img4 {
    width: 280px;
}
.iniziocolonne {
    margin-bottom: 170px;
}
/************* /fine main 4 ***********/
.titolo1-2 {
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 30px;
}
.alfa3 {
    color: #0564FF;
}
.bloccototal{
    margin-top: 50px;
}
.bloccouno {
   position: relative;
   float: left;
   width: 15%;
}
.bloccotre {
   position: relative;
   float: left;
   width: 40%;
}
.classe28 {
    height: 200px;
    width: 100%;
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;
}
.classe29 {
    height: 200px;
    width: 100%;
    background-color: #0093CE;
}
.classe30 {
    height: 200px;
    width: 100%;
    background-color:#61082B;
}
.classe31 {
    height: 200px;
    width: 100%;
    background-color: #FF1C1C;
}
.classe32 {
    height: 400px;
    width: 100%;
    background-color: #F5F5F5;
}
.classe33 {
    height: 200px;
    width: 100%;
    background-color: #D5001F;
}
.classe34 {
    height: 200px;
    width: 100%;
    background-color: #0D2481;
}
.classe35 {
    height: 200px;
    width: 100%;
    background-color: #B4D0E7;
}
.classe36 {
    height: 200px;
    width: 100%;
    background-color: #FFD830;
}
.img5 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img6 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}.img7 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img8 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img9 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img10 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img11 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img12 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    color: white;
    filter: invert(1);
}
.img13 {
    position: absolute;
    top: 14%;
    left: 18%;
    transform: translate(-50%,-50%);
    width: 122px;
    color: white;
    
}
.riga4 {
    border-top:1px solid #EBEBEC;
    position: absolute;
    top: 27%;
    left: 11%;
    transform: translate(-50%,-50%);
    width: 45px;
   
}
.grafo5 {
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%,-53%);
    
}
.grafo6 {
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    top:73%;
    left: 20%;
    transform: translate(-50%,-53%);
    
}
/*********** /fine main 5 ************/
.classe37 {
    background-color: #B4D0E7;
    height: 300px;
    width: 100%;
}
.titolo1-3 {
    color: #61082B;
    font-size: 36px;
    font-family: 'Open Sans',sans-serif;
    padding-top: 103px;
    padding-left: 20px;
}
.classe38 {
    float: left;
    width: 50%;
}
.classe39 {
    float: left;
    width: 50%;
}
.bottone7 {
    background-color: white;
    color: black;
    width: 288px;
    height: 30px;
    border: none;
    margin-top: 113px;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
    margin-left: 187px;
}
.bottone7:hover {
    background-color:rgb(228, 222, 222); ;
}
/*********** /fine main 6 **********/
.titolo1-4 {
    font-size: 32px;
    font-family: 'Open Sans',sans-serif;
    padding-top: 103px;
    padding-left: 20px;
    padding-bottom: 50px;
}
.riga5 {
    margin-left: 20px;
    border-top:1px solid #EBEBEC;
}
.titolo4-2 {
    font-family: 'Open Sans',sans-serif;
    margin-left: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.domanda .text {
    position:relative;
    bottom:30px;
    left:21px;
    visibility:hidden;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: rgb(189, 184, 184);
}
.domanda {
    height: 80px;
}
.lorem {
    color: black;
    text-transform: uppercase;
    opacity: 0.0;
}
.domanda:hover {
    height: 150px;
}
.domanda:hover .text {
    visibility:visible;
}
.span2 {
    padding-left: 271px;
}
.span2:hover {
    transform: rotate(180);
}
/************ /fine main 7 *********/
.classe40 {
    background-color: black;
    width: 100%;
    height: 500px;
    margin-top: 170px;
}
.classe41 {
    float: left;
    width: 20%;
}
.classe42 {
    float: left;
    width: 20%;
}
.classe43 {
    float: left;
    width: 20%;
}
.classe44 {
    float: left;
    width: 20%;
}
.classe45 {
    float: left;
    width: 20%;
}
.lista2 {
    color: white;
    list-style: none;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
}
.lista3 {
    color: #F3F3F3;
    list-style: none;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    line-height: 25px;
}
.lista3:hover {
    text-decoration: underline;
}
.riga6 {
    margin-top: 110px;
    width: 40%;
    border-bottom: 20px;
}
.grafo7 {
    color: #999999;
    font-family: 'Open Sans',sans-serif;
    font-size: 10px;
    padding-top: 30px;
}
.img18 {
    width: 10px;
}
